
<h1>Create a Team and Heroes!</h1>

<form action="/team" method="post"
  <label>Team Name: <input type="text" name="SuperHero[team]"><br>

  <label>Team Motto: <input type="text" name="SuperHero[motto]"><br>
  <h2>Hero 1</h2>
  <label>Hero's Name: <input type="text" name="SuperHero[name]"><br>
  <label>Power: <input type="text" name="SuperHero[power]"><br>
  <label>Bio: <input type="text" name="SuperHero[bio]"><br>
  <h2>Hero 2</h2>
  <label>Hero's Name: <input type="text" name="SuperHero[name]"><br>
  <label>Power: <input type="text" name="SuperHero[power]"><br>
  <label>Bio: <input type="text" name="SuperHero[bio]"><br>
  <h2>Hero 3</h2>
  <label>Hero's Name: <input type="text" name="SuperHero[name]"><br>
  <label>Power: <input type="text" name="SuperHero[power]"><br>
  <label>Bio: <input type="text" name="SuperHero[bio]"><br>
  <input type="submit" value="Submit">
</form>